<div id="<%= dom_id animal %>">
  <p>
    <strong>Name:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= animal.species %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= animal.birth %>
  </p>

  <p>
    <strong>Death:</strong>
    <%= animal.death %>
  </p>

</div>
